@import '../scss/global+mixins';
@import '../scss/variables';

:root {
  --color-bg: #fff;
  --heart-emoji: '🤍';
  --heart-emoji-on-hover: '💚';
}

[data-theme='dark'] {
  --color-bg: #000;
  --heart-emoji: '🖤';
  --heart-emoji-on-hover: '💜';
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  background: var(--color-bg);
  transition: background 0.3s;
}

// .preloader {
// }

.main {
  @media (min-width: 768px) {
  }
}

// footer {
// }
html {
  height: 100%;
  width: 100%;
  .working-on {
    padding: 10rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    #w-header {
      text-align: center;
    }
  }
}
