@import '../scss/global+mixins';
@import '../scss/variables';

// :root {
//   --color-bg: #fff;
//   --heart-emoji: '🤍';
//   --heart-emoji-on-hover: '💚';
// }

// [data-theme='dark'] {
//   --color-bg: #000;
//   --heart-emoji: '🖤';
//   --heart-emoji-on-hover: '💜';
// }

html {
  height: 100%;
  width: 100%;
}
body {
  min-height: 100%;
  width: 100vw;
  position: relative;
  // background: var(--color-bg);
  transition: background 0.3s;
}

.main {
  @media (min-width: 768px) {
  }
}

// footer {
// }
html {
  height: 100%;
  width: 100%;

  body {
    width: 100vw;
    background-color: rgb(46, 29, 57);
    padding: 1.25rem;
    position: relative;
    display: grid;

    // WORKING ON
    .working-on {
      align-items: center;
      justify-content: center;
      padding: 13%;
      height: 100%;
      width: 100%;

      h3 {
        text-align: center;
        font-size: 2.3vw;
        font-family: 'Courier New', Courier, monospace;
      }
      #top-sub {
        color: rgb(193, 239, 244);
      }
      #w-header {
        font-family: 'Courier New', Courier, monospace;
        font-size: 7vw;
        text-align: center;
        word-spacing: -2rem;
        // padding-bottom: 1vh;
        color: rgb(99, 222, 46);
      }

      #working-gif {
        padding: 0vh 7vh 0vh 7vh;
        padding-top: 0vh;
      }
      #to-erik-sub {
        color: rgb(32, 14, 43);
      }
      #w-sub {
        padding-top: 7vh;
        font-size: 2.1vw;
        a {
          color: rgb(227, 77, 225);
          &:hover {
            color: rgb(92, 227, 77);
          }
        }
      }
    }
  }
}
